In [1]:
import numpy as np 
import pandas as pd
import sklearn as sc
import os
import matplotlib.pyplot as plt
import seaborn as sns

Problem Statement:

1. Perform Data Preprocessing & prepare data for analysis & Modelling

In [2]:
df = pd.read_csv('C:\\Users\91990\Downloads\kidney_disease.csv')
df.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [3]:
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [4]:
description = pd.read_csv('C:\\Users\91990\Downloads\Project 2-Chronic Kidney Disease-20220427T121455Z-001\Project 2-Chronic Kidney Disease\data_description.txt', sep = '-')
description = description.reset_index()
description.columns=['Symbol', 'Description']
description

             Symbol              Description
0               id                        id
1              age                       age
2               bp            blood pressure
3               sg          specific gravity
4               al                   albumin
5               su                     sugar
6              rbc           red blood cells
7               pc                  pus cell
8              pcc           pus cell clumps
9               ba                  bacteria
10             bgr      blood glucose random
11              bu                blood urea
12              sc          serum creatinine
13             sod                    sodium
14             pot                 potassium
15            hemo               haemoglobin
16             pcv        packed cell volume
17              wc    white blood cell count
18              rc      red blood cell count
19             htn               ypertension
20              dm         diabetes mellitus
21             cad   coronary artery disease
22           appet                  appetite
23              pe               pedal edema
24             ane                    anemia
25  classification                     class

In [5]:
# rename the abbrevaited column names with full version
df.columns = description['Description'].values
df.info()   # convert string to integer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       400 non-null    int64
 1   age                      391 non-null    float64
 2   blood pressure           388 non-null    float64
 3   specific gravity         353 non-null    float64
 4   albumin                  354 non-null    float64
 5   sugar                    351 non-null    float64
 6   red blood cells          248 non-null    object
 7    pus cell                335 non-null    object
 8   pus cell clumps          396 non-null    object
 9   bacteria                 396 non-null    object
 10  blood glucose random     356 non-null    float64
 11  blood urea               381 non-null    float64
 12  serum creatinine         383 non-null    float64
 13  sodium                   313 non-null    float64
 14  potassium                312 non-null    float64
 15  haemoglobin              348 non-null    float64
 16  packed cell volume       330 non-null    object
 17  white blood cell count   295 non-null    object
 18  red blood cell count     270 non-null    object
 19  ypertension              398 non-null    object
 20  diabetes mellitus        398 non-null    object
 21  coronary artery disease  398 non-null    object
 22  appetite                 399 non-null    object
 23  pedal edema              399 non-null    object
 24  anemia                   399 non-null    object
 25  class                    400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [6]:
def convert(df, feature):
    pd.to_numeric(df[('feature'), errors=='coerce'])